 
{% extends 'music/base.html' %}
{%load app_filters%}
{% load static %}
{% block title %}Songs{% endblock %}
{% block body %}

<div class="container-fluid songs-container">

    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Filters:</h2>                    
                    <div class="well">
                        <form method="GET"  action="{% url 'music:songs' %}">
                            <p>Genre:</p>
                            <select name="genre" onchange = "this.form.submit()" >
                                <option value=""> -- select genre -- </option>
                                {% for option in genres %}
                                    <option value="{{ option.genre_title }}"{% ifequal option.genre_title request.GET.genre %} 
                                    selected="selected" {% endifequal %} > {{option.title}} ({{ option.cnt }}) </option>
                                {% endfor %}    
                            </select>   
                        </br></br>
                            <p>Tempo:</p>
                            <select name="tempo" onchange = "this.form.submit()" >
                                <option value=""> -- select tempo -- </option>
                                {% for option in tempos %}
                                    <option value="{{ option.tempo_speed }}"{% ifequal option.tempo_speed request.GET.tempo %} 
                                    selected="selected" {% endifequal %} > {{ option.title }} ({{option.cnt}})  </option>
                                {% endfor %}    
                            </select>

                        </form>
                    </div>          
                    <a class="btn btn-primary" href="{% url 'music:songs'%}">Reset page</a>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Songs</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                            <tr>
                                {% for order_data in orders %}
                                    <th>
                                        {% if order_data.order %}
                                            <i class ="fas fa-arrow-{{order_data.order}}"></i>
                                        {% endif %}
                                        <a href="?{{filters_get.urlencode}}&order={{order_data.order_field}}">{{order_data.order_title}}</a>
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>

                        <tbody>
                        {% for song in song_paginator %}
                            <tr>
                                <td>
                                    {{ song.artist }}
                                </td>
                                <td>
                                    <a target="_blank" href="{% url 'music:song_view' song.id %}">
                                    {{ song.song_title }}
                                    </a>
                                </td>
                                <td>
                                    {{song.get_tempo_display}}
                                </td>
                                <td>
                                    {{song.get_genre_display}} 
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination">
                        <span class="step-links">
                            {% if song_paginator.has_previous %}
                                <a href="?{{filters_get.urlencode}}&page={{ song_paginator.previous_page_number}}"><-previous</a>
                            {% endif %}
                            <span class="current">
                                Page {{ song_paginator.number }} of {{ song_paginator.paginator.num_pages }}
                            </span>
                            {% if song_paginator.has_next %}
                                <a href="?{{filters_get.urlencode}}&page={{ song_paginator.next_page_number}}">next-></a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}