body{
	background: white url("images/2.jpg")
}

.navbar{
	border-radius: 0;
}

.navbar-brand{
	font-family: 'Satisfy', cursive;
}


.favorite{
	color:orange;
}

.avatar {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(150px / 4);
	color: white;
	background-color: blue;

}
